#apma,#appa,#bole,#cpassw,#email,
#nomb,#nump,#passw,#user {
  width: 100%;
  padding: 6px 10px;
  margin: 1%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box
}	
#cancelar{
  background-color: #1b262d;
  color: #fff;
  border-radius: 20px;
  padding: 5px 2px;
  margin: .5% .5% .5% 17.5%;
  border: none;
  cursor: pointer;
  width: 30%
}
#registrar{
  background-color: #1b262d;
  color: #fff;
  border-radius: 20px;
  padding: 5px 2px;
  margin: .5% 17% .5% .5%;
  border: none;
  cursor: pointer;
  width: 30%
}
#cancelar:hover,
#registrar:hover {
  opacity: .8
}
.tittleregiscontainer {
  text-align: center;
  margin: 12px 0 0 0;
  position: relative
}
.regiscontainer {
  padding: 5px;
  border-radius: 200px
}
span.psw {
  float: right;
  padding-top: 16px
}
.modalregis {
  display: block;
  font-family: Raleway;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
  background-color: rgba(0, 0, 0, .4);
  padding-top: 50px
}
.modal-content {
  background-color: #fff;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  border-radius: 20px;
  width: 50%
}
.modalregis h1{
	margin-bottom: 0.5em;
	font-family: 'Roboto Slab';
	text-transform: uppercase;
    color: 1b262d;
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: 700
}
.close:focus,
.close:hover {
  color: red;
  cursor: pointer
}
.animate {
  -webkit-animation: animatezoom .6s;
  animation: animatezoom .6s
}
@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@media screen and (max-width:300px) {
    span.psw {
        display: block;
        float: none
    }
}
